@{
    ViewData["Title"] = "Agenda de tarefas - Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Desafio .NET DIO: Agenda de tarefas de <a href="https://github.com/Taganet" target="_blank">Elielder</a>.</p>
</div>
